<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/app.js"></script>
	<title>Eat-the-burg</title>
</head>

<body>
	{{{ body }}}
</body>

</html>